.container-pelis{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: beige;
}

.container-peli {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: beige;
}

.container-pelis > .container-peli {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
  max-width: 350px;
}

.container-img{
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.container-nombre{
  width: 100%;
  display: flex;
  justify-content: center;
}

#img-pelicula{
  height: 475px;
  width: 300px; 
  display: block;
}

form, #container-btns{
  height: auto;
  background-color: white;
  box-shadow: 0 0 20px #333;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: beige;
}

.sec-input{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title:hover{
  transition: all 0.4s linear;
  color: #d82323;
}

label{
  font-size: 1.2em;
  width: 35%;
  margin: 15px 29.5%;
  margin-bottom: 0;
}

input{
  width: 35%;
  margin: 15px 10px;
  font-size: 1em;
  padding: 5px;
}

.btn-form{
  color: white;
  width: 20%;
  margin: 15px auto;
  padding: 10px 3px;
  background-color: #333;
  font-size: 0.9em;
  cursor: pointer;
}

.btn-form:hover{
  border-radius: 6px;
  color: #36c76e;
  transition: all 0.4s linear;
}

body{
  margin: 0px;
  padding: 0px;
  font-family: 'Inconsolata', monospace;
}

#message{
  text-align: center;
}

#search-loading, #add-loading{
  display: block;
  font-size: 17px;
  margin: 0px auto;
  text-align: center;
}

ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #333;
}

ul li{
  background-color: #333;
}

ul li a {
  padding: 12.8px 35px;
  color: white;
  text-decoration: none;
  display: block;
  transition: all 0.6s linear;
}

ul li a:hover {
  background-color: #36c76e;
} 